{##
 # The template for displaying product search form
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/product-searchform.php.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see     https://docs.woocommerce.com/document/template-structure/
 # @package WooCommerce/Templates
 # @version 3.3.0
 #}
<form role="search" method="get" class="woocommerce-product-search" action="{{ home_url }}">
	<label class="screen-reader-text" for="woocommerce-product-search-field-{{ wc.index ? wc.index|abs : '0' }}">{{ __('Search for:', 'woocommerce')|e('html') }}</label>
	<input type="search" id="woocommerce-product-search-field-{{ wc.index ? wc.index|abs : '0' }}" class="search-field" placeholder="{{ __('Search products&hellip;', 'woocommerce') }}" value="{{ fn('get_search_query') }}" name="s" />
	<button type="submit" value="{{ _x( 'Search', 'submit button', 'woocommerce')|e('html') }}">{{ _x('Search', 'submit button', 'woocommerce')|e('html') }}</button>
	<input type="hidden" name="post_type" value="product" />
</form>
