{##
 # Order details
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/order/order-details.php.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see     https://docs.woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates
 # @version 4.6.0
 #}

{% set order = fn('wc_get_order', wc.order_id ) %}

{% if order %}

  {% set order_items           = order.get_items( 'line_item'|apply_filters( 'woocommerce_purchase_order_item_types')) %}
  {% set show_purchase_note    = order.has_status( ['completed', 'processing']|apply_filters( 'woocommerce_purchase_note_order_statuses')) %}
  {% set show_customer_details = user and order.get_user_id() == user.id %}
  {% set downloads             = order.get_downloadable_items() %}
  {% set show_downloads        = order.has_downloadable_item() and order.is_download_permitted() %}

  {% if show_downloads %}
    {% do fn('wc_get_template',
      'order/order-downloads.php',
      {
        'downloads'  : downloads,
        'show_title' : true,
      }
    ) %}
  {% endif %}

  <section class="woocommerce-order-details">
    {% do action( 'woocommerce_order_details_before_order_table', order ) %}

    <h2 class="woocommerce-order-details__title">{{ __( 'Order details', 'woocommerce' ) }}</h2>

    <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">

      <thead>
        <tr>
          <th class="woocommerce-table__product-name product-name">{{ __( 'Product', 'woocommerce' ) }}</th>
          <th class="woocommerce-table__product-table product-total">{{ __( 'Total', 'woocommerce' ) }}</th>
        </tr>
      </thead>

      <tbody>
        {% do action( 'woocommerce_order_details_before_order_table_items', order ) %}

        {% for item_id,item in order_items %}
          {% set product = item.get_product() %}

          {% do fn('wc_get_template',
            'order/order-details-item.php',
            {
              'order'              : order,
              'item_id'            : item_id,
              'item'               : item,
              'show_purchase_note' : show_purchase_note,
              'purchase_note'      : product ? product.get_purchase_note() : '',
              'product'            : product,
            }
          ) %}
        {% endfor %}

        {% do action( 'woocommerce_order_details_after_order_table_items', order ) %}
      </tbody>

      <tfoot>

        {% for key,total in order.get_order_item_totals() %}
            <tr>
              <th scope="row">{{ total.label }}</th>
              <td>{{ 'payment_method' == key ? total.value : total.value|e('wp_kses_post') }}</td>
            </tr>
        {% endfor %}

        {% if wc.order.get_customer_note() %}
          <tr>
            <th>{{ __('Note:', 'woocommerce') }}</th>
            <td>{{ fn('wptexturize', order.get_customer_note())|nl2br|e('wp_kses_post') }}</td>
          </tr>
        {% endif %}
      </tfoot>
    </table>

    {% do action( 'woocommerce_order_details_after_order_table', order ) %}
  </section>

  {% do action( 'woocommerce_after_order_details', order ) %}
  {% if show_customer_details %}
    {% do fn('wc_get_template', 'order/order-details-customer.php', { 'order' : order }) %}
  {% endif %}

{% endif %}
